<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color:  #f4d03f ;
            
        }

        .movie {
            width: 60%;
            border: 1px solid;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            background-color: aliceblue;
            justify-content: space-around;
            align-items: center;

        }
        .movieinfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .moviecom{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }
        
        img{
            
            width: 200px;
            height: 70%;
           
        }
        .t{
            color: rebeccapurple;
            font-weight: bold;
            font-size: 23px;
        }
        button{
            background-color: aliceblue;
            border: rebeccapurple solid 2px;
            border-radius: 4px;
            width: 120px;
            height: 40px;
            font-size: 15px;
            color: rebeccapurple;
        }
        .title{
        font-size: 45px;
        color: #000;
        font-weight: 20px;
        }
    </style>
</head>

<body>
    <p class="title">--Cinema Festival--</p>
    <% movies.forEach(function(movie){ %>
        <hr>
        <div class="movie">
            
            <div class="moviepic">
                <img src=<%=movie.poster%>>
            </div>
            <div class="movieinfo">

    
                <p>
                   <div class="t">Movie Name:</div>  <%=movie.name%>
                </p>
                <p>
                    <div class="t">Director:</div> <%=movie.director%>
                </p>
    
               
            </div>
            <div class="moviecom">
               <a href="/addComments/<%=movie.Id%>"> <button >add comments</button></a>
               <hr>
               <a href="/selectLanguage/<%=movie.Id%>"> <button>show comments</button></a> 
            </div>
            
        </div>
        <br>
       
        <%})%>

</body>

</html>